:root {
  --primary-color: #23576c;
  --secondary-color: #f4a261;
  --accent-color: #e76f51;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.board {
  aspect-ratio: 1/1;
  width: 50vw;
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.board button {
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: 1px rgb(187, 187, 187) dashed;
}
